@{
    
    ///WebClient client = new WebClient();
    
    string responseFromServer = "test html"; //client.DownloadString("http://pbmining.com/");
//    HttpRequest request = new HttpRequest();
//    request.HttpMethod="GET";
//    HttpResponse response= new HttpResponse();
//    response = request.BinaryRead();
    

}
<html><head></head><body>
@responseFromServer;
</body></html>